# Identites, privilege et configurations de securite.
-w /etc/passwd -p wa -k identity
-w /etc/shadow -p wa -k identity
-w /etc/group -p wa -k identity
-w /etc/gshadow -p wa -k identity
-w /etc/sudoers -p wa -k sudo_config
-w /etc/sudoers.d/ -p wa -k sudo_config
-w /etc/ssh/ -p wa -k ssh_config
-w /etc/firewalld/ -p wa -k firewall_config
-w /etc/rsyslog.conf -p wa -k log_config
-w /etc/rsyslog.d/ -p wa -k log_config
-w /etc/chrony.conf -p wa -k time_config
-a always,exit -F arch=b64 -S execve -F euid=0 -F auid>=1000 -F auid!=unset -k privileged_exec
{% if 'bastion' in group_names %}
-w /etc/pam.d/sshd -p wa -k ssh_mfa
-w /etc/fail2ban/ -p wa -k fail2ban_config
{% elif 'web' in group_names %}
-w /etc/nginx/ -p wa -k web_config
-w /etc/my.cnf.d/ -p wa -k database_config
{% elif 'infra' in group_names %}
-w /etc/named.conf -p wa -k dns_config
-w /var/named/ -p wa -k dns_zone
{% endif %}
