#%PAM-1.0
# L'etape auth n'est appelee que par keyboard-interactive:pam.
# SSH public impose cle + TOTP; SSH admin utilise uniquement une cle.
auth       required     pam_sepermit.so
auth       required     pam_google_authenticator.so
account    required     pam_nologin.so
account    include      password-auth
password   include      password-auth
session    required     pam_selinux.so close
session    required     pam_loginuid.so
session    required     pam_selinux.so open env_params
session    required     pam_namespace.so
session    optional     pam_keyinit.so force revoke
session    optional     pam_motd.so
session    include      password-auth
session    include      postlogin
