<?xml version="1.0" encoding="utf-8"?>
<zone target="DROP">
  <short>public</short>
  <description>Segment public ACME</description>
  <interface name="{{ public_interface }}"/>
{% if 'bastion' in group_names %}
  <rule family="ipv4">
    <source address="{{ public_network }}"/>
    <port port="{{ ssh_port }}" protocol="tcp"/>
    <log prefix="ACME-SSH " level="info"><limit value="5/m"/></log>
    <accept/>
  </rule>
{% elif 'web' in group_names %}
{% for service in ['http', 'https'] %}
  <rule family="ipv4">
    <source address="{{ public_network }}"/>
    <service name="{{ service }}"/>
    <accept/>
  </rule>
{% endfor %}
{% elif 'infra' in group_names %}
  <rule family="ipv4">
    <source address="{{ public_network }}"/>
    <service name="dns"/>
    <accept/>
  </rule>
{% endif %}
</zone>
