# Public NTP servers

pool {{ ntp_pool }} iburst

# Allow local network clients

allow {{ ntp_network }}

# Drift file

driftfile /var/lib/chrony/drift

# NTP logs

log measurements statistics tracking
logdir /var/log/chrony

# Step correction if large offset

makestep 1.0 3