$TTL 86400

@       IN      SOA     {{ dns_ns }}. {{ dns_admin_email }}.{{ dns_domain }}. (
                        {{ dns_serial }} ; Serial
                        3600            ; Refresh
                        1800            ; Retry
                        604800          ; Expire
                        86400 )         ; Minimum TTL

;
; Name Server
;

@       IN      NS      {{ dns_ns }}.

;
; A Records
;

@       IN      A       {{ dns_server_ip }}

centos  IN      A       {{ dns_server_ip }}

ns1     IN      A       {{ dns_server_ip }}

ftp     IN      A       {{ dns_server_ip }}

www     IN      A       {{ dns_server_ip }}