$TTL 86400

@       IN      SOA     {{ dns_ns }}. {{ dns_admin_email }}.{{ dns_domain }}. (
                        {{ dns_serial }} ; Serial
                        3600            ; Refresh
                        1800            ; Retry
                        604800          ; Expire
                        86400 )         ; Minimum TTL

;
; Name Server
;

@       IN      NS      {{ dns_ns }}.

;
; PTR Records
;

{{ reverse_octet }}      IN      PTR     centos.{{ dns_domain }}.