
options {
        listen-on port 53 { 127.0.0.1; {{ dns_server_ip }}; };
        listen-on-v6 { none; };

        directory "/var/named";

        allow-query { localhost; {{ dns_network }}; };

        recursion yes;

        dnssec-validation no;

        managed-keys-directory "/var/named/dynamic";

        pid-file "/run/named/named.pid";
        session-keyfile "/run/named/session.key";
};


logging {
        channel default_debug {
                file "data/named.run";
                severity dynamic;
        };
};


zone "{{ dns_domain }}" IN {
        type master;
        file "{{ forward_zone_file }}";
        allow-update { none; };
};


zone "{{ reverse_zone }}" IN {
        type master;
        file "{{ reverse_zone_path }}";
        allow-update { none; };
};