# Samba server configuration

[global]
    workgroup = WORKGROUP
    security = user
    passdb backend = tdbsam

    map to guest = never
    server string = {{ samba_server_string }}

    log file = /var/log/samba/%m.log
    max log size = 50

    unix charset = UTF-8
    unix extensions = yes

[{{ samba_share_name }}]
    path = {{ samba_share_path }}

    browseable = yes
    writable = yes
    read only = no

    valid users = {{ samba_user }}
    
    force user = {{ samba_user }}
    force group = {{ samba_user }}
    create mask = 0664
    directory mask = 0775