[defaults]

# Inventory
inventory = inventory.ini

# Do not create .retry files after failures
retry_files_enabled = False

# Disable host key prompts for the lab environment
host_key_checking = False

# Display useful task output
stdout_callback = default

# Python interpreter discovery
interpreter_python = auto_silent

# SSH connection timeout
timeout = 30


[ssh_connection]

# Reuse SSH connections for better performance
pipelining = True
